.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #01d1d1;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main-navigation-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.main-navigation-items {
  margin-left: 1.5rem;
}

.main-navigation-items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation-items li {
  margin: 0 1rem;
}

.main-navigation-items a {
  text-decoration: none;
  color: #000;
}

.main-navigation-items a:hover,
.main-navigation-items a:active,
.main-navigation-items a.active {
  color: #fdefa0;
}
